.pizza {
  font-weight: bolder;
  letter-spacing: 2px;
  font-size: 20px;
  color: #3d6a6d;
}
.ditrento .container .ditrento-brand span {
  color: #3d6a6d;
}
.ditrento .container .ditrento-brand i {
  transition: 0.5s;
}
.ditrento .container .ditrento-brand:hover i {
  transform: rotate(360deg);
}
.ditrento .container .collapse ul li a {
  color: black;
  font-weight: bolder;
  transition: 0.3s;
}

.pizza ul {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #3d6a6d;
  border-radius: 4px;
}

.pizza li {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 5px;
  box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.08);
}

